<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mkmc.mkmc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Korean1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Korean2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Korean3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Korean4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Korean6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Korean7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".English2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".English3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".English4"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".French2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".French3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".French4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".English1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".English5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".French1"
            android:screenOrientation="landscape" />
        <activity android:name=".French5"></activity>
    </application>

</manifest>